<div class="header-wp wrapper row">
	<div class="header-logo col-md-4">
		<a th:href="@{/platforma/noutati}" style="color: inherit;"> <img
			class="header-logo__image"
			th:src="@{~/images/echipe/logos/rapid.png}"></img> <span
			class="header-logo__text">ACADEMIA RAPID</span>
		</a>
	</div>
	<div class="header-search col-md-4">
		
	</div>
	<div class="header-cart col-md-4">
		<div class="header-cart-container float-right">
			<div sec:authorize="isAuthenticated()">
				<ul class="nav navbar-nav navbar-nav-profile">
					<li class="dropdown"><a id="profile-popover"
						class="btn dropdown-toggle"> <i
							class="fa fa-user fa-header-icon" aria-hidden="true"></i><span
							sec:authentication="principal.username"></span>
					</a>
						<ul class="dropdown-menu" id="user-menu"
							style="position: absolute">
							<li><a style="color:black" href="" th:href="@{/profilul-meu}">Editeaza profilul</a></li>
							<li><a style="color:black" onclick="$('#logout').submit();" th:href="@{/logout}">
									Logout </a></li>
						</ul></li>
				</ul>
			</div>
			<div sec:authorize="isAnonymous()">
				<a id="cart-popover" class="btn" data-placement="bottom"
					onclick="$('#logout').submit();" style="color: white !important;"
					th:href="@{/login}"> <i class="fa fa-sign-in fa-header-icon"
					aria-hidden="true"></i>Login
				</a>
			</div>
		</div>
	</div>
	<div class="mobile-nav">
                <input id="burger" type="checkbox" />
                <label for="burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
                <nav>
                    <ul>
                        <li sec:authorize="isAuthenticated()" class=""><a th:href="@{/profilul-meu}" data-toggle="popover" title="Popover Header" data-content="Some content inside the popover"><i class="fa fa fa-user nav-icon-mobile" aria-hidden="true"></i>Contul meu</a></li>
                        <li sec:authorize="isAnonymous()" class=""><a th:href="@{/login}" data-toggle="popover" title="Popover Header" data-content="Some content inside the popover"><i class="fa fa fa-user nav-icon-mobile" aria-hidden="true"></i>Login</a></li>
                        <li class=""><a th:href="@{/platforma/noutati}" data-toggle="popover" title="Popover Header" data-content="Some content inside the popover"><i class="fa fa-newspaper-o nav-icon-mobile" aria-hidden="true"></i>Noutati</a></li>
                        <li class=""><a th:href="@{/platforma/club}"><i class="fa fa-bandcamp nav-icon-mobile" aria-hidden="true"></i>Club</a></li>
                        <li class=""><a th:href="@{/platforma/bilete}"><i class="fa fa-money nav-icon-mobile" aria-hidden="true"></i>Bilete</a></li>
                        <li class=""><a href="#" data-toggle="popover" title="Atentie!" data-content="Aceasta functionalitate va fi disponibila in curand!"><i class="fa fa-bullhorn nav-icon-mobile" aria-hidden="true"></i>Evenimente</a></li>
                        <li class=""><a href="#" data-toggle="popover" title="Atentie!" data-content="Aceasta functionalitate va fi disponibila in curand!"><i class="fa fa-shopping-bag nav-icon-mobile" aria-hidden="true"></i>Magazin</a></li>
                        <li class=""><a th:href="@{/platforma/lot}"><i class="fa fa-users nav-icon-mobile" aria-hidden="true" style="padding-right: 2%"></i>Lot</a></li>
                    	<li sec:authorize="isAuthenticated()" class=""><a onclick="$('#logout').submit();" th:href="@{/platforma/noutati}" data-toggle="popover" title="Popover Header" data-content="Some content inside the popover"><i class="fa fa fa-user nav-icon-mobile" aria-hidden="true"></i>Login</a></li>
                    </ul>
                </nav>
            </div>
	<form id="logout" th:action="@{logout}" name="logout" method="POST">
		<input type="hidden" th:name="${_csrf.parameterName}"
			th:value="${_csrf.token}" />
	</form>
</div>